.container {
  display: flex;
  flex-direction: column;
}
.empty-cart-container {
  display: flex;
  padding-top: 20;
}
.empty-cart-icon {
  display: flex;
  border-radius: 100%;
  padding: 10;
  height: 70;
  width: 70;
  background-color: var(--background-dark);
  border: solid 1px var(--black-light);
  margin-right: 15;
}

.empty-cart-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-width: 15rem;
}

